 .larger-image {
    width: 500px;
  }

.grey-border {
    border-width: 15px;
    border-style: solid;
    border-color: grey;
    border-radius: 15px;}
    

p {
    font-size: 20px;
  text-center: center;
  }
 h1 {
  font-size: 80px;
}
h2 {
  font-size: 60px;
} 
h3 {
  font-size: 20px;
} 
ul {
    width: 40%;
    margin: auto;
}

  
 
